
// Body
$body-bg: #f2f2f7;//#f3f3f2;//#f2f2f2;//#f8f9fa;

// Colors
$primary: #353a40;//#82c502;
$secondary: #f1f1f1;//#adb5bd;
$green: #82c504;

$dark: rgb(28, 28, 30);

$link-color: #343a40;

@import 'app.scss';
